{%extends "layout.html"%}
{%block main%}
<title>Search</title>
<style>
    body{
        box-sizing: border-box;
        background-image: url(/static/img/PortadaVintage2.jpg);
        background-size: cover;
        padding: 0;
        margin: 0;
        position: relative; 
      }
</style>
  <div class="container">
      <form action="/search" method="post">
          <div class="searchcontainer">
              <h2 style='color: #0e3876;'>Book search</h2>
              <input type="search" name="Search" id="TextboxSearch" placeholder='Write the name...'>
              <div class="elegir">
                  <div class="form-check form-check-inline" id='xd1'>
                      <input class="form-check-input" type="radio" name="option" id="Title" value="Title">
                      <label class="form-check-label" for="inlineRadio1">Title</label>
                    </div>
                    <div class="form-check form-check-inline" id='xd2'>
                      <input class="form-check-input" type="radio" name="option" id="Isbn" value="Isbn">
                      <label class="form-check-label" for="inlineRadio2">Isbn</label>
                    </div>
                    <div class="form-check form-check-inline" id='xd3'>
                      <input class="form-check-input" type="radio" name="option" id="Year" value="Year">
                      <label class="form-check-label" for="inlineRadio3">Year</label>
                    </div>
              </div>
              <div class="btnsearch">
                  <button type="submit" class="btn btn-dark">Search</button>
              </div>
          </div>
      </form>
  </div>

{%endblock%}